.root2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.appbar {
  background-color: none;
}

.appbarWrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  background: none;
}

.appTitle {
  font-size: 4rem;
  flex-grow: 1;
  color: #eac800;
  font-family: Smooch;
}

.colorText1 {
  color: #eac800;
  text-align: center;
}

.icon {
  alignmentbaseline: right;
  color: #fff;
  font-size: 4rem;
}
.title {
  font-size: 4rem;
  text-align: center;
}

.colorText2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorText3 {
  color: #3f51b5;
  display: flex;
}

.container {
  text-align: center;
  align-items: center;
  margin-top: 0;
  justify-content: center;
}

.goDown {
  display: flex;
  color: #5aff3d;
  font-size: 4rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
